* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


td:first-child, th:first-child {
    border-left: none;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgba(63,16,82);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 20px 15px;
}

.styled-table tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tr:nth-child(18),tr:nth-child(19),tr:nth-child(20) {
    border-bottom: 2px solid rgba(176,71,89);
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 1rem;
  }
  
  /* top-right border-radius */
  table tr:first-child th:last-child {
    border-top-right-radius: 1rem;
  }
  
h1 {
    text-align: center;
}